<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Posts</title>
</head>

<body>
    <div id="app">
        <%- include('./partials/header.ejs') %>
            <div id="main">
                <div class="center-area">
                    <div class="home">
                        <button onclick="location.href='/addnewpost'">Create new post</button>
                        <% if (posts.length > 0) { %>
                            <% posts.forEach(post => { %>
                                <div class="post">
                                    <div class="post-header">
                                        <div class="title">
                                            <p>
                                                <%= post.title %>
                                            </p>
                                        </div>
                                        <div class="post-datetime">
                                            <p>
                                                <%= new Date(post.datetime).toLocaleString("en-US", { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric', hour12: false, hour: '2-digit', minute: '2-digit' }) %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="post-text">
                                        <p>
                                            <%= post.body %>
                                        </p>
                                    </div>
                                    <div class="post-footer">
                                        <div class="like-button">
                                            <img src="/images/like.png" alt="like" />
                                        </div>
                                        <div class="like-number">
                                            <p>Likes:
                                                <%= post.likes %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% } else { %>
                                        <p>You did not post anything...</p>
                                        <% } %>
                    </div>
                </div>
            </div>
            <%- include('./partials/footer.ejs') %>
    </div>
</body>

</html>